@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, background-color, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.embla__viewport {
  overflow-x: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto;
}

.page-transition {
  opacity: 0;
  background-color: #3c6068;
  transform: translateY(40px);
  filter: blur(12px);
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out,
    transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}
